{% extends "layout.html" %}

{% block content %}

{% if current_user.is_authenticated %}
<div class="container">
    Hello, {{ current_user.username }}!
</div>
<div class="container-fluid">
    <br>
    {% if current_user.is_admin %}
    <div class="container">
        <br>
        You are an admin
        <br>
        {% endif %}
    </div>

    {% if current_user.is_module_leader %}
    <div class="container">
        <br>
        You are a leader
        <br>
        <a class="login_link" style="float: left" href="{{ url_for('allocation') }}">allocation link</a>
        <br>
        <a class="login_link" style="float: left" href="{{ url_for('question_alloc') }}">questionnaire alloc link</a>
        <br>
        <a class="login_link" style="float: left"
            href="{{ url_for('leader_select_courses', username=current_user.username) }}">leader select courses</a>
        <br>
        <a class="login_link" style="float: left" href="{{ url_for('select_team') }}">Team list information</a>
        <br>
        <a class="login_link" style="float: left" href="{{ url_for('view_issue') }}">Student's complaints</a>
        <br>
        <a class="login_link" style="float: left" href="{{ url_for('evaluation_course_select', username=current_user.username) }}">Alter PEQ (Peer Evaluation Questionnaire)</a>
    </div>
    {% else %}
    <!-- In this section put all relevent code for logged in student -->

    <div class="container">
        <div class="row">
            <div class="col">
                <p id="taqIntro">If you are looking to complete a Team Allocation Questionnaire, follow the link in
                    navigation bar
                    ('TAQs') or click on the button to the right</p>
            </div>
            <div class="col">
                <br>
                <a class="btn btn-primary" href="{{ url_for('taqcourses', username=current_user.username) }}"
                    role="button">TAQs</a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col">
                <p id="peqIntro">If you have been asked to complete a Peer Evaluation for one of your modules, follow
                    the link in the
                    navigation bar ('PEQs') or click on the button to the right </p>
            </div>
            <div class="col">
                <br>
                <a class="btn btn-primary" href="{{ url_for('courses', username=current_user.username) }}"
                    role="button">PEQs</a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col">
                <p id="issuesIntro">If you are looking to register ongoing non-engagement, issues of significant
                    disagreement during the project,
                    click on the button on to the right</p>
            </div>
            <div class="col">
                <a class="btn btn-primary"
                    href="{{ url_for('reportissue', username=current_user.username) }}">Issues</a>
            </div>
        </div>
        <br>
        <!-- <a class="login_link" style="float: left" href="{{ url_for('question_rec') }}">questionnaire received link</a> -->
        {% endif %}

        {% else %}

        Hello, Guest!

        {% endif %}

    </div>

    <!-- Language selection  -->
    <script>
        // Define language reload anchors
        var dataReload = document.querySelectorAll("[data-reload]");

        // Language translations
        var language = {
            eng: {
                taqIntroText: "If you are looking to complete a Team Allocation Questionnaire, follow the link in navigation bar ('TAQs') or click on the button to the right",
                peqIntroText: "If you have been asked to complete a Peer Evaluation for one of your modules, follow the link in the navigation bar ('PEQs') or click on the button to the right",
                issuesIntroText: "If you are looking to register ongoing non-engagement, issues of significant disagreement during the project, click on the button on to the right",

            },
            wlsh: {
                taqIntroText: "Os rydych chi’n edrych i gwblhau Holiadur Dynrannu Tîm, dilynwch y ddolen yn y bar llywio (‘TAQs’) neu cliciwch y botwm ar y dde.",
                peqIntroText: "Os gofynnwyd i chi i gwblhau Gwerthusiad Cymheiriad ar gyfer un o’ch modiwlau, dilynwch y ddolen yn y bar llywio (‘PEQs’) neu cliciwch y botwm ar y dde.",
                issuesIntroText: "Os rydych chi’n edrych i gofrestru diffyg ymgysylltu parhaus, materion o anghhytuno sylweddol yn ystod y prosiect, cliciwch y botwm ar y dde."
            }
        }

        // Define language via window hash
        if (window.location.hash) {
            if (window.location.hash === "#wlsh") {
                taqIntro.textContent = language.wlsh.taqIntroText;
                peqIntro.textContent = language.wlsh.peqIntroText;
                issuesIntro.textContent = language.wlsh.issuesIntroText;
            }
        }

        // define language reload onclick iteration
        for (i - 0; i <= dataReload.length; i++) {
            console.log(dataReload)
            dataReload[i].onclick = function () {
                location.reload(true);
            };
        }
    </script>
    {% endblock content %}
