{% extends "layout.html" %}
 
{% block content %}
 <br>
<h4 style="font-weight: bold;">Contacts</h4>
<br>
<h5>Dr Tom Williams</h5>
<div class="details" >
    <strong>Email</strong>
            <a href="mailto:WilliamsT@Cardiff.ac.uk">WilliamsT@Cardiff.ac.uk</a>
            <br>
          <strong>Work Phone</strong> 
            07812345673<br>
            <strong>Office Location</strong>
            (Currently online only)<br>
  </div>
<br>
<br>

<h5>Dr Marry Smith</h5>
<div class="details" >
    <strong>Email</strong>
            <a href="mailto:SmithM@Cardiff.ac.uk">SmithM@Cardiff.ac.uk</a>
            <br>
          <strong>Work Phone</strong> 
            07896784512<br>
            <strong>Office Location</strong>
            (Currently online only)<br>
            <strong>Office Hours</strong>
            Please message via Teams or email to arrange an appointment if you wish to meet.<br>
  </div>
{% endblock %}